.tiptap-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tiptap-root .tiptap {
  flex: 1 1 auto;
  min-height: 100%;
}

.tiptap {
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  hyphens: auto;
  padding-bottom: 24px;
  caret-color: #374151;
  min-height: 100%;

  :first-child {
    margin-top: 0;
  }

  /* focus states */
  &:focus {
    outline: none;
    box-shadow: none;
  }

  p {
    margin-bottom: 0.25rem;
    text-wrap: wrap;
  }

  .node-image {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  > .node-image:first-child {
    padding-top: 0;
  }

  > .node-image:last-child {
    padding-bottom: 0;
  }

  .node-image.ProseMirror-selectednode .image-component {
    outline: none;
  }

  .tiptap-image {
    max-width: 100%;
    height: auto;
    display: block;
  }
}
